<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hyundae_futurenet.rocketddan.runners_hi.backend.model.mapper.admin.AdminMapper">
    <select id="selectAdminMembers"
            resultType="org.hyundae_futurenet.rocketddan.runners_hi.backend.model.dto.response.AdminMemberResponse">
        SELECT
        M.NICKNAME,
        M.EMAIL,
        NVL(C.CREW_NAME, '없음') AS crewName,
        CASE
        WHEN M.ROLE = 'COMPANY' THEN 'COMPANY'
        WHEN CM.MEMBER_ID IS NULL THEN 'ALL'
        WHEN CM.IS_LEADER = 'Y' THEN 'LEADER'
        ELSE 'CREW'
        END AS crewRole
        FROM
        MEMBER M
        LEFT JOIN
        CREW_MEMBER CM ON M.MEMBER_ID = CM.MEMBER_ID
        LEFT JOIN
        CREW C ON CM.CREW_ID = C.CREW_ID
        WHERE
        M.ROLE != 'ADMIN'
        ORDER BY
        M.CREATED_AT DESC
    </select>

    <select id="findAdminFeeds"
            resultType="org.hyundae_futurenet.rocketddan.runners_hi.backend.model.dto.response.AdminFeedResponse">
        SELECT
        M.nickname,
        F.feed_id as feedId,
        F.created_at as createdAt,
        F.balance,
        F.charge_amount as chargeAmount
        FROM member_wallet F
        JOIN member M ON F.member_id = M.member_id
        <where>
            <if test="params.keyword != null and params.keyword != ''">
                M.nickname LIKE '%' || #{params.keyword} || '%'
            </if>
        </where>
        ORDER BY F.created_at DESC
        OFFSET #{params.offset} ROWS FETCH NEXT #{params.perPage} ROWS ONLY
    </select>

    <select id="countAdminFeeds" resultType="int">
        SELECT COUNT(*)
        FROM member_wallet F
        JOIN member M ON F.member_id = M.member_id
        <where>
            <if test="params.keyword != null and params.keyword != ''">
                M.nickname LIKE '%' || #{params.keyword} || '%'
            </if>
        </where>
    </select>

</mapper>