<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hyundae_futurenet.rocketddan.runners_hi.backend.model.mapper.admin.AdminMapper">

    <select id="findAdminFeeds"
            resultType="org.hyundae_futurenet.rocketddan.runners_hi.backend.model.dto.response.AdminFeedResponse">
        SELECT
        M.nickname,
        F.feed_id as feedId,
        F.created_at as createdAt,
        F.balance,
        F.charge_amount as chargeAmount
        FROM member_wallet F
        JOIN member M ON F.member_id = M.member_id
        <where>
            <if test="params.keyword != null and params.keyword != ''">
                M.nickname LIKE '%' || #{params.keyword} || '%'
            </if>
            <if test="params.month != null and params.month != ''">
                AND TO_CHAR(F.created_at, 'MM') = #{params.month}
            </if>
            <if test="params.day != null and params.day != ''">
                AND TO_CHAR(F.created_at, 'DD') = #{params.day}
            </if>
        </where>
        ORDER BY F.created_at DESC
        OFFSET #{params.offset} ROWS FETCH NEXT #{params.perPage} ROWS ONLY
    </select>


    <select id="countAdminFeeds" resultType="int">
        SELECT COUNT(*)
        FROM member_wallet F
        JOIN member M ON F.member_id = M.member_id
        <where>
            <if test="params.keyword != null and params.keyword != ''">
                M.nickname LIKE '%' || #{params.keyword} || '%'
            </if>
        </where>
    </select>


    <select id="findAdminMembers"
            resultType="org.hyundae_futurenet.rocketddan.runners_hi.backend.model.dto.response.AdminMemberResponse">
        SELECT
        M.MEMBER_ID as memberId,
        M.NICKNAME,
        M.EMAIL,
        NVL(C.CREW_NAME, '로그인 사용자') AS crewName,
        CASE
        WHEN M.ROLE = 'COMPANY' THEN '회사'
        WHEN CM.MEMBER_ID IS NULL THEN '로그인 사용자'
        WHEN CM.IS_LEADER = 'Y' THEN '크루장'
        ELSE '크루원'
        END AS crewRole
        FROM MEMBER M
        LEFT JOIN CREW_MEMBER CM ON M.MEMBER_ID = CM.MEMBER_ID
        LEFT JOIN CREW C ON CM.CREW_ID = C.CREW_ID
        WHERE M.ROLE != 'ADMIN'
        <if test="params.keyword != null and params.keyword != ''">
            AND (
            M.nickname LIKE '%' || #{params.keyword} || '%'
            OR C.crew_name LIKE '%' || #{params.keyword} || '%'
            )
        </if>
        ORDER BY M.CREATED_AT DESC
        OFFSET #{params.offset} ROWS FETCH NEXT #{params.perPage} ROWS ONLY
    </select>

    <select id="countAdminMembers" resultType="int">
        SELECT COUNT(*)
        FROM MEMBER M
        LEFT JOIN CREW_MEMBER CM ON M.MEMBER_ID = CM.MEMBER_ID
        LEFT JOIN CREW C ON CM.CREW_ID = C.CREW_ID
        WHERE M.ROLE != 'ADMIN'
        <if test="params.keyword != null and params.keyword != ''">
            AND (
            M.nickname LIKE '%' || #{params.keyword} || '%'
            OR C.crew_name LIKE '%' || #{params.keyword} || '%'
            )
        </if>
    </select>

    <!--  통계 : 일자별 클릭 수  -->
    <select id="selectDailyViews"
            resultType="org.hyundae_futurenet.rocketddan.runners_hi.backend.model.dto.response.FeedDailyViewResponse">
        SELECT TO_CHAR(CREATED_AT, 'YYYY-MM-DD') AS viewDate, COUNT(*) AS views
        FROM FEED_VIEW_LOG
        WHERE FEED_ID = #{feedId}
        AND CREATED_AT BETWEEN TO_TIMESTAMP(#{startDate}, 'YYYY-MM-DD')
        AND TO_TIMESTAMP(#{endDate}, 'YYYY-MM-DD') + 1
        GROUP BY TO_CHAR(CREATED_AT, 'YYYY-MM-DD')
        ORDER BY viewDate
    </select>

    <!--  통계 : 시간대별 클릭 수  -->
    <select id="selectHourlyViews"
            resultType="org.hyundae_futurenet.rocketddan.runners_hi.backend.model.dto.response.FeedHourlyViewResponse">
        SELECT TO_CHAR(CREATED_AT, 'HH24') AS viewHour, COUNT(*) AS views
        FROM FEED_VIEW_LOG
        WHERE FEED_ID = #{feedId} AND TO_CHAR(CREATED_AT, 'YYYY-MM-DD') = #{targetDate}
        GROUP BY TO_CHAR(CREATED_AT, 'HH24')
        ORDER BY viewHour;
    </select>

    <!--  통계 : 총 클릭수와 순방문자 수  -->
    <select id="selectFeedViewSummary"
            resultType="org.hyundae_futurenet.rocketddan.runners_hi.backend.model.dto.response.FeedViewSummaryResponse">
        SELECT
        COUNT(*) AS totalViews,
        COUNT(DISTINCT CREATED_BY) AS uniqueVisitors
        FROM FEED_VIEW_LOG
        WHERE FEED_ID = #{feedId}
        AND CREATED_AT BETWEEN TO_TIMESTAMP(#{startDate}, 'YYYY-MM-DD') AND TO_TIMESTAMP(#{endDate}, 'YYYY-MM-DD') + 1
    </select>

</mapper>