<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hyundae_futurenet.rocketddan.runners_hi.backend.model.mapper.announcement.AnnouncementMapper">

    <!--  공지 등록  -->
    <insert id="insertAnnouncement"
            parameterType="org.hyundae_futurenet.rocketddan.runners_hi.backend.model.dto.bussiness.AnnouncementCreate">
        <selectKey keyProperty="announcementId" resultType="long" order="BEFORE">
            SELECT SEQ_ANNOUNCEMENT.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO announcement(
        announcement_id,
        announcement_type,
        title,
        content,
        created_at,
        created_by,
        updated_at,
        updated_by
        ) VALUES (
        #{announcementId},
        #{announcementType},
        #{title},
        #{content},
        SYSDATE,
        #{createdBy},
        SYSDATE,
        #{createdBy}
        )
    </insert>

    <!--  공지 수정 / updated_by 에는 수정한 member_id를 삽입 -->
    <update id="updateAnnouncement"
            parameterType="org.hyundae_futurenet.rocketddan.runners_hi.backend.model.dto.bussiness.AnnouncementCreate">
        UPDATE announcement
        SET title = #{title},
        content = #{content},
        updated_at = SYSDATE,
        updated_by = #{createdBy}
        WHERE announcement_id = #{announcementId}
    </update>

    <!-- 공지 조회 -->
    <select id="findById"
            resultType="org.hyundae_futurenet.rocketddan.runners_hi.backend.model.dto.bussiness.AnnouncementCreate">
        SELECT
        announcement_id,
        announcement_type,
        title,
        content,
        created_by
        FROM
        announcement
        WHERE
        announcement_id = #{announcementId}
    </select>


</mapper>